<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet">
  <title>Create New Poll</title>
</head>
<body>
  <h1>Voting Dojo</h1>
  <div class="back">
  <form class="backtohome" action="/" method="get">
    <button type="submit">back to home</button>
  </form>
  </div>

  <form id="createPollForm">
    <label for="title" class="title">Poll Title:</label>
    <textarea id="title" name="title" required minlength="10"> </textarea><br>
    
 
<div class="options">
    <label for="option1"  id="option1">Option 1:</label>
    <input type="text" id="option1" name="options" required><br>
    <label for="option2"  id="option2">Option 2:</label>
    <input type="text" id="option2" name="options" required><br>
    <label for="option3"  id="option3">Option 3:</label>
    <input type="text" id="option3" name="options"><br>
    <label for="option4"  id="option4">Option 4:</label>
    <input type="text" id="option4" name="options"><br>
  </div>
  <div class="creat">
    <button type="submit">Create Poll</button>
    <h4 style="color: red;" id="error-message" class="error"></h4>
  </div>
  </form>


  <script>
    const form = document.getElementById('createPollForm');
   
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const options = [...formData.getAll('options')];
      const EmptyOption = options.filter(option => option.trim() !== '');
     
      const uniqueOptions = new Set(EmptyOption);
      if (uniqueOptions.size !== EmptyOption.length) {
        const errorElement = document.getElementById('error-message');
        errorElement.textContent = 'Options must be unique';
        return;
      }
      
      const pollData = {
        title: formData.get('title'),
        options: EmptyOption.map((option) => ({ text: option, votes: 0 })),
      };
     
      const response = await fetch('/polls/new', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(pollData),
      });

      const data = await response.json();
      window.location.href = `/polls/${data._id}`;
    });
  </script>
</body>
</html>
