
<!DOCTYPE html>
<html lang="en">
<head>
    
  <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
              "width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
    <form class="login-form" action="/users" method="post">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="password" name="password">
        <button type="submit">log in</button>
    
    </form>
    </div>
    </div>

</body>
</html>