<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="/css/style.css" rel="stylesheet">
  <title>View Vote </title>
</head>

<body>

  <h1>Voting Dojo</h1>
  <div class="back">
    <form class="backtohome" action="/" method="get">
      <button type="submit">back to home</button>
    </form>
  </div>
  <div class="newpoll">
    <h2>
      <%= poll.title %> ?
    </h2>
    <form action="/polls/<%= poll._id %>" method="post" id="voteForm">
      <% for (let options of poll.options){ %>
        <label>
          <%= options.text %> -> <%= options.votes %>
        </label>
        <br>
        <% } %>

    </form>
    <canvas id="myChart" width="400" height="200"></canvas>


  </div>


  <script>
    const form = document.getElementById('voteForm');
    const text = [];
    const vote = [];

    form.querySelectorAll('label').forEach((label) => {
      const [texts, votes] = label.innerText.split(' -> ');
      text.push(texts.trim());
      vote.push(parseInt(votes));
    });

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: text,
        datasets: [{
          label: 'Votes',
          data: vote,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  </script>

</body>

</html>